.text-link {
    color: #c1d966;
}

.text-link:hover{
    color: #c1d966;
}

.main-button-slider {
    color: #f8f9fa;
}

.register-wraper {
    height: 100vh;
}

.register {
    background: -webkit-linear-gradient(left, #577b2b, #c1d966);
}

.register-left {
    text-align: center;
    color: #fff;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    width: 100px;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
}

.btnRegister {
    float: right;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #537629;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnRegister:hover {
    float: right;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #c1d966;
    color: #537629;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    border: none;
    background: #537629;
    border-radius: 1.5rem;
    width: 100px;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #537629;
    border: 2px solid #537629;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.pristine-error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    /* color: rgb(230, 230, 230); */
}

@media (max-width:768px) {
    .register-left div {
        display: none;
    }
} 